* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  --colorQuartz: #bcabae;
  background-color: var(--colorQuartz);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header {
  position: absolute;
  top: 0;
  padding: 4em 0 0 0;
  font-size: 2rem;
}

#textePendu {
  padding-bottom: 2em;
  font-size: 2rem;
  text-align: center;
}

#btn-valider {
  padding: 0.5em;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

#btn-valider:hover {
  color: var(--colorQuartz);
  cursor: pointer;
  background-color: black;
}

#lettre {
  padding: 0 0 0 1em;
  width: 60%;
  border-radius: 20px;
  height: 2em;
}

#nbChances {
  padding: 3em 0 0 0;
  text-align: center;
}

#btn-Jouer {
  height: 50px;
  width: 100px;
  padding: 0.5em;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

#btn-Jouer:hover {
  cursor: pointer;
  color: var(--colorQuartz);
  background-color: black;
}

#btn-rejouer {
  margin: 3em 0 0 6em;
  height: 40px;
  width: 70px;
  padding: 0.5em;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

#btn-rejouer:hover {
  cursor: pointer;
  color: var(--colorQuartz);
  background-color: black;
}

.zoneJeu {
  padding: 6em;
  border: 2px solid black;
  display: none;
}

.historique {
  margin: 5em;
  position: absolute;
  right: 0;
}
